{% extends "base.html" %}

{% block content %}
<style >
   .btn {
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 30px;
   }
   .inp {
    width: 250px;
    height: 30px;
   }
   .long_btn
   {
    margin-left: auto;
    margin-right: auto;
    width: 110px;
    height: 30px;
   }
   .arr
   {
    width: 250px;
    height: 600px;
   }
  </style>

<table>
        <td>
                <form action="/click" method="POST">
                        <div>
                                <p> Ip terminal </p>
                                <p id="ipT"> {{ form.ipTerminal(class="inp") }}  {{ form.saveIp(class="btn") }}  </p>
                        </div>
        <table>

                <tr>
                        <td> {{ form.pause(class="btn") }} </td>
                        <td> {{ form.focus(class="btn") }} </td>
                        <td> {{ form.system(class="btn") }} </td>
                </tr>
                <tr>
                        <td> {{ form.volumeUp(class="btn") }} </td>
                        <td></td>
                        <td> {{ form.camPlus(class="btn") }} </td>
                </tr>
                <tr>
                        <td> {{ form.volumeDown(class="btn") }} </td>
                        <td></td>
                        <td> {{ form.camMinus(class="btn") }} </td>
                </tr>

                <tr>
                        <td></td>
                        <td> {{ form.up(class="btn") }} </td>
                        <td></td>
                </tr>

                <tr>
                        <td> {{ form.left(class="btn") }} </td>
                        <td> {{ form.ok(class="btn") }} </td>
                        <td> {{ form.right(class="btn") }} </td>
                </tr>

                <tr>
                        <td></td>
                        <td> {{ form.down(class="btn") }} </td>
                        <td></td>
                </tr>

                <tr>
                        <td> {{ form.home(class="btn") }} </td>
                        <td> {{ form.back(class="btn") }} </td>
                        <td> {{ form.save(class="btn") }} </td>
                </tr>

                <tr>
                        <td> {{ form.call(class="btn") }} </td>
                        <td> {{ form.backSpace(class="btn") }} </td>
                        <td> {{ form.callOff(class="btn") }} </td>
                </tr>

                <tr>
                        <td> {{ form.button_1(class="btn") }} </td>
                        <td> {{ form.button_2(class="btn") }} </td>
                        <td> {{ form.button_3(class="btn") }} </td>
                </tr>

                <tr>
                        <td> {{ form.button_4(class="btn") }} </td>
                        <td> {{ form.button_5(class="btn") }} </td>
                        <td> {{ form.button_6(class="btn") }} </td>
                </tr>

                <tr>
                        <td> {{ form.button_7(class="btn") }} </td>
                        <td> {{ form.button_8(class="btn") }} </td>
                        <td> {{ form.button_9(class="btn") }} </td>
                </tr>

                <tr>
                        <td> {{ form.button_dot(class="btn") }} </td>
                        <td> {{ form.button_0(class="btn") }} </td>
                        <td> {{ form.button_dog(class="btn") }} </td>
                </tr>

                <tr>
                        <td> {{ form.pc(class="btn") }} </td>
                        <td> {{ form.far(class="btn") }} </td>
                        <td> {{ form.layout(class="btn") }} </td>
                </tr>

                <tr>
                        <td></td>
                        <td> {{ form.micOff(class="btn") }} </td>
                        <td></td>
                </tr>
        </table>
                </form>
        </td>

        <td>
                <div>
                        <form action="/newTest" method="POST">
                                <p> {{ form2.nameTest(class="inp") }}  {{ form2.newTest(class="long_btn") }} </p>
                        </form>
                </div>


                        <form action="/playTest" method="POST">
                                        <p> {{ form3.selectTest(class="inp") }} {{ form3.playTest(class="long_btn") }} </p>
                                        <p> {{ form3.deleteTest(class="long_btn") }} </p>

                                <table>
                                        <tr>
                                                <td> {{ form3.textForm(class="arr") }} </td>
                                                <td>
                                                        <p> {{ form3.recCommand(class="long_btn") }} </p>
                                                        <p> {{ form3.clearCommand(class="long_btn") }} </p>
                                                </td>
                                        </tr>

                                </table>
                        </form>

        </td>

</table>
{% endblock %}
